body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

#homeScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#runScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profileBar {
    display: flex;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
}

.dot.active {
    background: white;
}

#outerCircle {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: 0.5s;
}

#circle.on {
    width: 100%;
    height: 100%;
}
